.container {
    width: 90rem;
    display: flex;
    font-family: 'Outfit', sans-serif;
    background-color: hsl(212, 45%, 89%);
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 6.25rem auto;
    padding: 6.25rem;
}

.base {
    width: 18.75rem;
    background: hsl(0, 0%, 100%);
    border-radius: 20px;
    text-align: center;
    padding: 15px 5px 25px 5px;
    box-shadow: 1px 2px 10px hsl(220, 15%, 55%);

}

img {
    display: block;
    width: 90%;
    margin: 0 auto;
    border-radius: 10px;
    margin-bottom: 20px;
}

.principal {
    color:  hsl(218, 44%, 22%);
    font-weight: 700;
    font-size: 20px;
    margin: 0 auto;
    width: 80%;
    margin-bottom: 20px;
    font-family: 'Outfit', sans-serif;
}

.secundario {
    color: hsl(220, 15%, 55%);
    font-size: 15px;
    font-weight: 400;
    margin: 0 auto;
    width: 80%;
    font-family: 'Outfit', sans-serif;
}

@media (max-width: 23.43rem) {
    .container {
        width: 22.18rem;
    }
    body {
        background:hsl(218, 44%, 22%) ;
    }
}
